
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Tajawal', sans-serif;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #1d0f1d;
}

/* الكارد الأساسي */
.calculator-card {
  background-color: #1e1e1e; 
  width: 100%;
  max-width: 500px;
  border: 1px solid #333;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px; 
}

/* الهيدر*/
.main-title, .card-title {
  background-color: #b6b5b8; 
  background: linear-gradient(135deg, #72888b, #688387); 
  color: #ffffff;
  padding: 30px 30px;
  margin: 0;
  text-align: center; /* توسيط العنوان */
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 3px solid #313838;
  border-radius: 15px 15px 15px 15px;
}

.card-title {
  font-size: 1.3rem;
  padding: 20px;
}

/* النصوص والعناوين الفرعية */
.input-label {
  display: block;
  color: #e0e0e0;
  text-align: right; /* العناوين يمين للعربية */
  margin-bottom: 8px;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 5px;
}

/* حاويات الإدخال */
.input-group {
  padding: 0 25px;
  margin-bottom: 10px;
}

.input-field, select {
  width: 100%;
  padding: 14px;
  background-color: #5d5d5dc5;
  border: 1px solid #787478;
  color: #ffffff;
  font-family: 'Tajawal', sans-serif;
  font-size: 1rem;
  text-align: right; 
  outline: none;
  border-radius: 8px; 
  transition: all 0.3s ease;
}

.input-field:focus, select:focus {
  border-color: #848585; 
  background-color: #363b3b;
  
}

.input-field::placeholder {
  color: #ffffff;
}

/* الأزرار الأساسية */
.btn-primary {
  display: block;
  width: calc(100% - 50px); 
  margin: 30px auto; 
  padding: 14px;
  background-color: #5c7a7c;
  color: rgb(252, 252, 252);
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
  border-radius: 10px; 
  transition: transform 0.2s, background 0.3s;
  box-shadow: 0 4px 15px rgba(249, 250, 250, 0.099);
}

.btn-primary:hover {
  background-color: #be9ebeba;
  transform: translateY(-2px); /* حركة بسيطة للأعلى */
}

/* (إضافة مادة) */
.btn-secondary {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #475252;
  padding: 20px;
  cursor: pointer;
  border-radius: 7px;
  font-family: 'Tajawal', sans-serif;
  transition: all 0.3s;
  text-align: center;
}

.btn-secondary:hover {
  background-color: #383e3e;
  border-color: #c4c4c4;
}

/* زر الحذف */
.btn-danger {
  background-color: #c62828;
  color: white;
  border: 1px;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 10px;
  font-family: 'Tajawal', sans-serif;
  transition: background 0.3s;
}

.btn-danger:hover {
  background-color: #e53935;
}

/* زر العودة */
.back-btn {
  background: none;
  border: none;
  color: #dad8d8;
  cursor: pointer;
  padding: 15px;
  font-family: 'Tajawal', sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: right;
  transition: color 0.3s;
}

.back-btn:hover {
  color: #fde7ff; 
}

/* قائمة الأزرار الرئيسية */
.mode-selector {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center; 
}

.mode-btn {
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  border: 1px solid #444;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10px; 
  transition: all 0.3s;
  text-align: center;
}

.mode-btn:hover {
  background-color: #72517a;
  border-color: #515151;
  transform: scale(1.02);
}


.gender-selector {
  display: flex;
  justify-content: center;
  margin: 20px 25px;
  background-color: #5f737589;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #a18e9b;
}

.gender-btn {
  flex: 1;
  padding: 12px;
  background-color: transparent;
  color: #f9f7f7;
  border: none;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
  transition: all 0.3s;
}

.gender-btn.active {
  background-color: #5f73759b;
  color: white;
  font-weight: bold;
}

/* الجداول */
table {
  width: 90%; 
  margin: 0 auto 20px auto; 
  border-collapse: separate;
  border-spacing: 0;
  color: #dccbd9;
  border: 1px solid #5a5757;
  border-radius: 8px; 
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #313131;
}

th {
  background-color: #817b81;
  color: #ffffff; 
}

.specialty-title {
    text-align: center;
    color: #ebc9f1;
    margin-top: 20px;
}

/* النتائج */
.result-box {
  background-color: #592e8d; /* خلفية النتيجة بنفسجي */
  background: linear-gradient(135deg, #a18d9d, #967396);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 25px 20px 25px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(20, 20, 20, 0.4);
}

.error-box {
  color: #fb5353;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 13px;
  font-weight: bold;
}

.quran-verse {
  text-align: center;   
  color: #f0eef0;         
  font-size: 0.90rem;        
  margin-top: 20px;    
  margin-bottom: 20px;     
  font-weight: normal;     
  font-family: 'Tajawal', sans-serif;
  opacity: 0.9;            
}

/* الفوتر */
.footer {
  text-align: center;
  color: #838383;
  padding: 20px;
  font-size: 0.85rem;
  border-top: 1px solid #333;
  margin-top: 30px;
}

.footer-link {
  color: #d8aae0;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}
